{{- if .Values.manifests }}
{{- $commonLabels := .Values.commonLabels | default dict }}
{{- $commonAnnotations := .Values.commonAnnotations | default dict }}
{{- range .Values.manifests }}
---

{{- $manifest := . }}

{{- if and $commonLabels $commonAnnotations }}
  {{- $tmp := merge (dict "metadata" (dict "annotations" $commonAnnotations)) . }}
  {{- $manifest = merge (dict "metadata" (dict "labels" $commonLabels)) $tmp }}
{{- else if $commonLabels }}
  {{- $manifest = merge (dict "metadata" (dict "labels" $commonLabels)) . }}
{{- else if $commonAnnotations }}
  {{- $manifest = merge (dict "metadata" (dict "annotations" $commonAnnotations)) . }}
{{- end }}
{{- $manifest | toYaml }}
{{- end }}
{{- end }}
